* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
}
/*Side Section*/

.sideBar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background-color: #f1f5f9;
}

.logoText {
  display: flex;
  border-bottom: 1px solid black;
}

.logoImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-weight: bold;
}

.todos {
  display: flex;
  flex-direction: column;
}
/*Content Section*/

.content {
  background-color: #cdcdcd;
  width: 80vw;
  height: 100vh;
}
